<!doctype html> {% load static %}
<html lang="en">

<head>
    <title>SyncPin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">






    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'LogoFont';
            src: url("{% static 'Aquire-BW0ox.otf' %}") format("opentype");
        }
        
        @font-face {
            font-family: 'Funky';
            src: url("{% static 'funky.ttf' %}") format("opentype");
        }
    </style>
</head>

<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set Username</h5>

                </div>
                <div class="modal-body">
                    <input id="username" class="form-control" type="text" placeholder="username">
                </div>
                <div class="modal-footer">
                    <button id="joinRoom" type="button" class="btn btn-secondary">Join</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0 shadow">
        <a class=" col-md-3 col-lg-2 mr-0 px-3" href="#" style="font-family: LogoFont; font-size: 20px; color:white;">SyncPin</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <input id="searchbox" style="border-radius: 25px;" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a id="loadvideo" class="nav-link" type="button"><i style="color:white;" class="fa fa-play"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a id="AddToPlaylist" class="nav-link" type="button"><i style="color:white;" class="fa fa-plus"></i></a>
            </li>
        </ul>
    </nav>

    <div class="container mainContainer">

        <div class="row">

            <div class="col-sm-9">
                <div class=" panel panel default ">
                    <div class="panel-body">


                        <ul>


                            <li>
                                <h1 class="h2" style="color:white;">Playing:
                                    <a style="color:green; font-size: 25px;">Spot the difference</a>
                                    </i>
                            </li>

                            <li class="floatright">
                                <h1 class="h2 " style="color:white;"><i class="fa fa-user-plus"></i>
                            </li>
                            <li class="floatright">
                                <h1 style="color:white;" class="h2"><i class="fa fa-users"><a  style="color:green; font-size: 25px;">  18</a></i>
                                </h1>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">


            <div class="col-sm-9">


                <div class="embed-responsive embed-responsive-21by9">
                    <div id="player"></div>
                </div>
                <!-- playlist-->
                <div class="col-sm-12">
                    <div class="vid-list-container">
                        <div class="vid-list">
                            <div class="vid-item">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg">
                                </div>
                                <div class="desc">
                                    Jessica Hernandez & the Deltas - Dead Brains
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/AYknzwkL9lM/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    Francis Ngannou Brutal 20 Second KO vs Rozenstruik - UFC 249
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/URckF3vBimY/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    Joe Rogan - Conor's Coach on the UFC 229 Brawl
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/N5ly_WJUPJY/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    Watch the full UFC 205 press conference | Alvarez vs. McGregor
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    Jessica Hernandez & the Deltas - Dead Brains
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/JwhKwOSoun0/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    Ben Askren and Chael Sonnen judge the best trash talk in combat sports history | ESPN MMA
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/1U12NKsKX3M/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    GSP Beats Khabib According To Ariel Helwani But Daniel Cormier Disagrees
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/UOoFeVgx-08/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    The Great Debaters: Khabib Nurmagomedov, Henry Cejudo & Kayla Harrison debates Judo vs Wrestling
                                </div>
                            </div>
                            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg" alt="" />
                                </div>
                                <div class="desc">
                                    Jessica Hernandez & the Deltas - Dead Brains
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="arrows">
                        <div class="arrow-left">
                            <i class="fa fa-chevron-left fa-lg"></i>
                        </div>
                        <div class="arrow-right">
                            <i class="fa fa-chevron-right fa-lg"></i>
                        </div>
                    </div>
                </div>


            </div>
            <div style="border-radius: 15px;" id="ChatSideBar" class="col-sm-3 ">

                <div id="chat-log" class="col-sm-12">

                </div>

                <div class=row>
                    <div id="chatContainer" class="input-group col-sm-12">
                        <input id="chat-message-input" style="border-radius: 15px;" class="form-control " type="text" placeholder="Search" aria-label="Search">

                    </div>

                </div>


            </div>

        </div>



    </div>
    <script>
        room_name = '{{ room_name }}'
    </script>

    <script src="{% static 'js\player.js' %}"></script>


</body>





</html>